
h1 {
    margin-bottom: 30px;
  }
  
  .date-picker-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .date-picker-section {
    margin-right: 30px;
  }
  
  .date-picker {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
  }
  