.nav-menu a:hover{
    color: rgb(241, 44, 44);
    text-decoration: underline;
    text-decoration-color: rgb(220, 33, 33);
}
.nav-menu a.active {
    color: #ff0336;
  }


  @media screen and (max-width: 820px) {
   .navbar{
    padding: 0px 10px;
   }
    .headerImage{
    height: 50px;
    margin-top: 8px;
   }
    .headerIcon{
        visibility: hidden;
    }
  
}